<ion-header>
    <ion-toolbar>
        <ion-title>
            <div class="ion-text-wrap">
                {{ "comp-device-select.title" | translate }}
            </div>
        </ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="cancel()" [ariaLabel]="'cancel' | translate">
                <ion-icon src="./assets/icons/close.svg" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<div class="inner-content ion-padding">
    <ion-list>
        @for (device of Devices; track device.Identifier) {
        <ion-item lines="none">
            <ion-checkbox [checked]="SelectedDevices.indexOf(device) >= 0" [attr.data-device-id]="device.Identifier" [ariaLabel]="'select' | translate" (ionChange)="onCheckboxChanged($event.target.checked, device)">{{ device.Name }}</ion-checkbox>
        </ion-item>
        }
    </ion-list>
    <ion-buttons class="ion-float-end">
        <ion-button fill="outline" color="secondary" (click)="onDeactivate()">
            {{ "comp-device-select.deactivate" | translate }}
        </ion-button>
        <ion-button fill="solid" color="secondary" (click)="onSelect()">
            {{ "comp-device-select.select" | translate }}
        </ion-button>
    </ion-buttons>
</div>
