<app-main-toolbar back="/settings/logging" *transloco="let t">{{t('page_settings_showlogs.page_title')}}</app-main-toolbar>

<ion-content [ngClass]="{ 'disabled': runningAnimation?.isRunning }" scrollEvents="true" scrollX="false" (ionScroll)="onScroll($event)" #mainContent *transloco="let t">
    <div class="select">
        <ion-icon src="./assets/icons/calendar.svg" class="calendar" (click)="openCalendar()"></ion-icon>
        <ion-select interface="action-sheet" [interfaceOptions]="{header: t('page_settings_showlogs.select_logs')}" [value]="currentLogfile?.Filename" [cancelText]="t('buttons.cancel')" [disabled]="!LogfilesAvailable" (ionChange)="onChangeLogfile($event)">
            <ion-text slot="label">{{currentLogfile?.Filename ?? t('page_settings_showlogs.no_log')}}</ion-text>
            @for (file of availableLogfiles; track file.uri) {
            <ion-select-option [value]="file.name" (selected)="currentLogfile?.Path == file.uri">{{formatLogfile(file)}}</ion-select-option>
            }
        </ion-select>
    </div>
    @if (currentLogfile) {
    <div id="logtext" class="list-content" #logContent>{{currentLogfile.Content}}</div>
    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
        <ion-fab-button [disabled]="!currentLogfile || !currentLogfile.Exists" #fabButton>
            <ion-icon src="./assets/icons/list_menu.svg"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
            <ion-fab-button [attr.data-label]="t('page_settings_showlogs.btn_save')" (click)="onSave()" [disabled]="!currentLogfile || !currentLogfile.Exists" #saveLogsButton>
                <ion-icon src="./assets/icons/store.svg"></ion-icon>
            </ion-fab-button>
            <ion-fab-button [attr.data-label]="t('page_settings_showlogs.btn_delete')" (click)="onDelete()" [disabled]="!currentLogfile || !currentLogfile.Exists">
                <ion-icon src="./assets/icons/trash.svg"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>
    @if (ShowScrollButtons) {
    <ion-fab slot="fixed" vertical="bottom" horizontal="start">
        <ion-fab-button (click)="ScrollToTop()" [disabled]="DisableScrollToTop">
            <ion-icon src="./assets/icons/to-top.svg"></ion-icon>
        </ion-fab-button>
        <ion-fab-button (click)="ScrollToBottom(false)" [disabled]="DisableScrollToBottom">
            <ion-icon src="./assets/icons/to-top.svg" class="to-bottom"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    } } @else {
    <app-page-empty>
        <div slot="image">
            <ion-icon src="./assets/icons/file.svg"></ion-icon>
        </div>
        <div slot="text">
            <ion-text>{{t('page_settings_showlogs.no_log_note', {date: SelectedDayString}) }}</ion-text>
        </div>
    </app-page-empty>
    }
</ion-content>
