<ion-header *transloco="let t">
    <ion-toolbar>
        <ion-title>{{ t("comp-watchlogs.title") }}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="cancel()" [ariaLabel]="t('buttons.cancel')">
                <ion-icon src="./assets/icons/close.svg" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<div class="inner-content ion-padding ion-text-center" *transloco="let t">
    <div [innerHTML]="t('comp-watchlogs.text', { name: Params.device.Name })"></div>
</div>
<div class="buttons" *transloco="let t">
    <ion-button (click)="openApp()">{{ t("comp-watchlogs.openApp") }}</ion-button>
    <ion-button (click)="proceedWithoutLogs()">{{ t("comp-watchlogs.withoutlogs") }}</ion-button>
</div>
