<div class="content">
    <ion-header>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-button (click)="cancel()" [ariaLabel]="'cancel' | translate">{{ "cancel" | translate }}</ion-button>
            </ion-buttons>
            <ion-buttons slot="end">
                <ion-button (click)="select()" [ariaLabel]="'select' | translate">{{ "select" | translate }}</ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>
    <div>
        @if (Params.interval == 'monthly') {
        <div>
            <ion-picker>
                <ion-picker-column #pickerDay>
                    @for (d of Days; track d.v) {
                    <ion-picker-column-option>{{ d.s }}</ion-picker-column-option>
                    }
                    <span slot="suffix" class="no-padding">{{ "comp-select-interval.ofmonth" | translate }}</span>
                </ion-picker-column>
            </ion-picker>
            <div class="devider"></div>
        </div>
        }
        <ion-picker>
            @if(Params.interval == 'weekly') {
            <ion-picker-column #pickerWeekday>
                @for(d of Weekdays; track d.v) {
                <ion-picker-column-option [value]="d.v">{{ d.s }}</ion-picker-column-option>
                }
            </ion-picker-column>
            }

            <ion-picker-column #pickerHour>
                @for(h of Hours; track h.v) {
                <ion-picker-column-option [value]="h.v">{{ h.s }}</ion-picker-column-option>
                }
                <span slot="suffix" class="no-padding">:</span>
            </ion-picker-column>

            <ion-picker-column #pickerMinute>
                @for(m of Minutes; track m.v) {
                <ion-picker-column-option [value]="m.v">{{ m.s }}</ion-picker-column-option>
                } @if (Locale.CurrentLanguage.h24) {
                <span slot="suffix">{{ "comp-select-interval.oclock" | translate }}</span>
                }
            </ion-picker-column>
        </ion-picker>
    </div>
</div>
