<app-main-toolbar back="/" *transloco="let t">{{t('page_settings.page_title')}}</app-main-toolbar>

<ion-content *transloco="let t">
    <ion-list>
        <!-- app language -->
        <ion-item lines="none">
            <ion-select class="select-language" interface="action-sheet" [label]="t('page_settings.language')" label-placement="stacked" [value]="Locale.CurrentLanguage.locale" [okText]="t('buttons.change')" [cancelText]="t('buttons.cancel')" (ionChange)="onChangeLanguage($event)">
                <img slot="start" [src]="Locale.CurrentLanguage.Icon" />
                @for (details of Locale.AvailableTranslations; track details.locale) {
                <ion-select-option value="{{details.locale}}" (selected)="Locale.CurrentLanguage.locale == details.locale"> {{details.LocalizedString}} </ion-select-option>
                }
            </ion-select>
        </ion-item>

        <!-- translation mistakes -->
        <ion-item lines="full" (click)="reportTranslationMistake()">
            <ion-note [innerHTML]="t('service-locale.language_hint', { 'email': Email})"></ion-note>
            <ion-icon src="/assets/icons/info.svg" slot="end" class="info-icon"></ion-icon>
        </ion-item>

        <!-- animations -->
        <ion-item lines="full">
            <ion-label (click)="onAnimationsChanged(!UseAnimations)">
                <div class="text" [innerHTML]="t('page_settings.animations')"></div>
                <ion-note [innerHTML]="t('page_settings.animations_note')"></ion-note>
            </ion-label>
            <ion-toggle [checked]="UseAnimations" (ionChange)="onAnimationsChanged($event.target.checked)" slot="end"></ion-toggle>
        </ion-item>

        <!-- transmission settings -->
        <ion-item [button]="true" routerDirection="forward" [routerLink]="['/settings/lists-transmission']" lines="full">
            <ion-label>
                <div class="text">{{t('page_settings.transmission')}}</div>
                <ion-note>{{t('page_settings.transmission_note')}}</ion-note>
            </ion-label>
            <ion-icon slot="end" src="./assets/icons/chevron_forward.svg"></ion-icon>
        </ion-item>

        <!-- confirmations -->
        <ion-item [button]="true" routerDirection="forward" [routerLink]="['/settings/confirmations']" lines="full">
            <ion-label>
                <div class="text">{{t('page_settings.confirm')}}</div>
                <ion-note>{{t('page_settings.confirm_note')}}</ion-note>
            </ion-label>
            <ion-icon slot="end" src="./assets/icons/chevron_forward.svg"></ion-icon>
        </ion-item>

        <!-- trash -->
        <ion-item [button]="true" routerDirection="forward" [routerLink]="['/settings/trash']" lines="full">
            <ion-label>
                <div class="text">{{t('page_settings.trash')}}</div>
                <ion-note>{{t('page_settings.trash_note')}}</ion-note>
            </ion-label>
            <ion-icon slot="end" src="./assets/icons/chevron_forward.svg"></ion-icon>
        </ion-item>

        <!-- import / export -->
        <ion-item [button]="true" routerDirection="forward" [routerLink]="['/settings/im-export']" lines="full">
            <ion-label>
                <div>{{t('page_settings.im_export')}}</div>
                <ion-note>{{t('page_settings.im_export_note')}}</ion-note>
            </ion-label>
            <ion-icon slot="end" src="./assets/icons/chevron_forward.svg"></ion-icon>
        </ion-item>

        <!-- advertisement -->
        <ion-item [button]="true" routerDirection="forward" [routerLink]="['/settings/advertisement']" lines="full">
            <ion-label>
                <div class="text">{{t('page_settings.advertisement')}}</div>
                <ion-note>{{t('page_settings.advertisement_note')}}</ion-note>
            </ion-label>
            <ion-icon slot="end" src="./assets/icons/chevron_forward.svg"></ion-icon>
        </ion-item>

        <!-- logging -->
        <ion-item [button]="true" routerDirection="forward" [routerLink]="['/settings/logging']" lines="full">
            <ion-label>
                <div class="text">{{t('page_settings.logging')}}</div>
                <ion-note>{{t('page_settings.logging_note')}}</ion-note>
            </ion-label>
            <ion-icon slot="end" src="./assets/icons/chevron_forward.svg"></ion-icon>
        </ion-item>
    </ion-list>
</ion-content>
