<ion-content class="page" *transloco="let t">
    <div class="container">
        <ion-segment-view>
            <ion-segment-content id="language">
                <div class="content">
                    <ion-img class="logo" src="/assets/img/applogo.png"></ion-img>

                    <div class="text welcome" [innerHTML]="t('page_firststart.welcome')"></div>
                    <div class="text language1" [innerHTML]="t('page_firststart.language1')"></div>

                    <ion-img class="language-icon" [src]="Locale.CurrentLanguage!.Icon" (click)="changeLanguage()"></ion-img>
                    <ion-select class="select-language" interface="action-sheet" fill="outline" value="{{Locale.CurrentLanguage.locale}}" [okText]="t('buttons.change')" [cancelText]="t('buttons.cancel')" (ionChange)="onChangeLanguage($event)" #selLanguage>
                        @for (details of Locale.AvailableTranslations; track details.locale) {
                        <ion-select-option value="{{details.locale}}" (selected)="Locale.CurrentLanguage.locale == details.locale"> {{details.LocalizedString}} </ion-select-option>
                        }
                    </ion-select>

                    <div class="text language2" [innerHTML]="t('page_firststart.language2')"></div>
                </div>
                <div class="buttons">
                    <ion-button (click)="nextLanguage()">{{t('buttons.next')}}</ion-button>
                </div>
            </ion-segment-content>
            <ion-segment-content id="garmin">
                <div class="content">
                    <ion-img class="logo" src="/assets/img/garmin-connect.png"></ion-img>

                    <ion-toggle [checked]="GarminActive" labelPlacement="start" (ionChange)="onGarminChange($event.target.checked)">
                        <ion-text class="text garmin1">{{t('page_firststart.garmin1')}}</ion-text>
                    </ion-toggle>

                    <div class="text garmin2">
                        <span [innerHTML]="t('page_firststart.garmin2', { garminApp: GarminAppname })"></span>
                    </div>
                </div>

                <div class="buttons multiple">
                    <ion-button (click)="openApp()" fill="outline"> {{ t('page_firststart.garmin_btn', { garminApp: GarminAppname }) }} </ion-button>
                    <ion-button (click)="nextGarmin()">{{ t('buttons.next')}}</ion-button>
                </div>
            </ion-segment-content>
            @if(GarminActive) {
            <ion-segment-content id="garmin-hint">
                <div class="content">
                    <ion-icon src="/assets/icons/info.svg" class="logo garmin-hint"></ion-icon>
                    <div class="text garmin-hint1" [innerHTML]="t('page_firststart.garmin-hint1')"></div>
                    <div class="text" [innerHTML]="t('page_firststart.garmin-hint2')"></div>
                </div>
                <div class="buttons">
                    <ion-button (click)="nextGarminHint()">{{t('buttons.next')}}</ion-button>
                </div>
            </ion-segment-content>
            }
            <ion-segment-content id="finish">
                <div class="content">
                    <div class="text finish1" [innerHTML]="t('page_firststart.finish1')"></div>
                    <div class="text" [innerHTML]="t('page_firststart.finish2')"></div>
                    <div class="text link" [innerHTML]="HomepageLink" (click)="openHomepage()"></div>
                    <div class="text" [innerHTML]="t('page_firststart.finish3')"></div>
                    <div class="text havefun" [innerHTML]="t('page_firststart.finish4')"></div>
                </div>
                <div class="buttons">
                    <ion-button (click)="Finish()">{{FinishButtonText}}</ion-button>
                </div>
            </ion-segment-content>
        </ion-segment-view>
        <div class="fixed-bottom">
            <ion-segment value="language">
                <ion-segment-button value="language" content-id="language" #segbtnLanguage>
                    <ion-icon src="/assets/icons/language.svg"></ion-icon>
                </ion-segment-button>
                <ion-segment-button value="garmin" content-id="garmin" #segbtnGarmin>
                    <ion-icon src="/assets/icons/menu/devices.svg"></ion-icon>
                </ion-segment-button>
                <ion-segment-button value="garmin-hint" content-id="garmin-hint" [disabled]="!GarminActive" #segbtnGarminHint>
                    <ion-icon src="/assets/icons/info.svg"></ion-icon>
                </ion-segment-button>
                <ion-segment-button value="finish" content-id="finish" #segbtnFinish>
                    <ion-icon src="/assets/icons/finish.svg"></ion-icon>
                </ion-segment-button>
            </ion-segment>
        </div>
    </div>
</ion-content>
