<div class="container done-report" *transloco="let t">
    <div class="content">
        <div>
            <ion-icon src="/assets/icons/done.svg" class="done"></ion-icon>
            <div class="text" [innerHTML]="t('page_settings_import.import_success')"></div>
        </div>
        <ion-card>
            <ion-list>
                @for (item of FinishedImportItems; track item.key) {
                <ion-item lines="full">
                    <ion-label [innerHTML]="Report(item.key)"></ion-label>
                    <ion-icon [src]="ReportIcon(item.key)" [ngClass]="[ReportIconClass(item.key)]" slot="end"></ion-icon>
                </ion-item>
                }
            </ion-list>
        </ion-card>
    </div>

    <ion-buttons class="fixed-bottom">
        <ion-button fill="solid" color="secondary" (click)="importDone()">{{ t("buttons.done") }}</ion-button>
    </ion-buttons>
</div>
