:host {
    display: block;
    max-height: 90%;
    background-color: var(--ion-color-light-tint);

    ion-header {
        ion-toolbar {
            ion-title {
                font-size: 1.2em;
            }
        }
    }

    ion-item {
        --inner-padding-end: 0;
    }

    ion-accordion-group {
        ion-accordion {
            &.list-settings {
                ion-item[slot="header"] {
                    --ion-color-base: var(--ion-color-light) !important;
                    --ion-color-base-rgb: var(--ion-color-light-rgb) !important;
                    --ion-color-shade: var(--ion-color-light) !important;
                    --ion-color-tint: var(--ion-color-light) !important;
                    --background: transparent;
                    padding-inline-end: 4px;
                }

                ion-item {
                    --min-height: 36px;

                    ::part(label) {
                        ion-note {
                            white-space: wrap !important;
                        }
                    }

                    &.select-resetdate {
                        margin-block-end: 1em;
                    }

                    ion-select {
                        width: 100%;
                        min-height: 42px;
                    }
                }
            }
        }
    }

    ion-button {
        margin-top: 20px;
    }
}
