<app-main-toolbar back="/" *transloco="let t">{{t('page_devices.page_title')}}</app-main-toolbar>

<ion-content *transloco="let t">
    <div>
        <ion-card>
            <ion-select
                [label]="t('page_devices.known_devices')"
                labelPlacement="stacked"
                interface="alert"
                fill="outline"
                [disabled]="Devices.length == 0"
                [color]="SelectedDevice?.State != 'Ready' ? 'medium' : undefined"
                [okText]="t('buttons.select')"
                [cancelText]="t('buttons.cancel')"
                [value]=" SelectedDevice?.Identifier"
                (ionChange)="onDeviceChanged($event.detail.value)"
                [interfaceOptions]="{'cssClass': 'devices'}"
                #deviceSelect>
                @for (device of Devices; track device.Identifier) {
                <ion-select-option [value]="device.Identifier" [ngClass]="{'disabled': device.State != 'Ready'}">{{device.Name}}</ion-select-option>
                }
            </ion-select>
            <div style="clear: both"></div>
            <ion-checkbox labelPlacement="end" [checked]="AlwaysTransmitDeviceSelected" [disabled]="SelectedDevice == undefined || SelectedDevice.State == 'AppNotInstalled'" (ionChange)="onToggle($event.detail.checked)">
                <div [innerHTML]="t('page_devices.toggle')"></div>
            </ion-checkbox>
            @if(SelectedDevice && SelectedDevice.State != 'Ready' && SelectedDevice.State != 'AppNotInstalled') {
            <div class="deviceState" [ngClass]="{'error': SelectedDevice.Error}">{{SelectedDevice.StateLocale}}</div>
            } @if(installHint) {
            <div class="install ion-text-center">
                <ion-text (click)="openStore()" [innerHTML]="t('page_devices.install_app')"></ion-text>
            </div>
            }
            <div style="clear: both"></div>
            @if(hasSubmitButton) {
            <ion-button class="ion-float-right" [disabled]="SelectedDevice?.State != 'Ready'" (click)="SubmitButton()"> {{SubmitButtonLabel}} </ion-button>
            }
        </ion-card>
    </div>

    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
        <ion-fab-button (click)="loadDevices()">
            <ion-icon src="./assets/icons/reload.svg"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
