<app-main-toolbar back="/settings/im-export" *transloco="let t">{{t('page_settings_export.page_title')}}</app-main-toolbar>

<ion-content class="page" *transloco="let t">
    @if(!ExportDone) {
    <div class="container">
        <ion-segment-view>
            <ion-segment-content id="lists">
                <div class="content">
                    <ion-icon class="content-icon" src="/assets/icons/menu/lists.svg"></ion-icon>

                    <div class="text first">{{t('page_settings_export.lists')}}</div>
                    <div class="bottom">
                        <ion-toggle labelPlacement="start" [ngClass]="{'disabled': !ExportLists}" [checked]="ExportLists" (ionChange)="toggleLists($event.target.checked)"> {{t('page_settings_export.lists_toggle')}} </ion-toggle>
                    </div>
                </div>
                <div class="buttons">
                    <ion-button (click)="toTrash()">{{t('buttons.next')}}</ion-button>
                </div>
            </ion-segment-content>
            <ion-segment-content id="trash">
                <div class="content">
                    <ion-icon class="content-icon" src="/assets/icons/menu/trash.svg"></ion-icon>

                    <div class="text first">{{t('page_settings_export.trash')}}</div>
                    <div class="bottom">
                        <ion-toggle labelPlacement="start" [ngClass]="{'disabled': !ExportTrash}" [checked]="ExportTrash" (ionChange)="toggleTrash($event.target.checked)"> {{t('page_settings_export.trash_toggle')}} </ion-toggle>
                    </div>
                </div>
                <div class="buttons multiple">
                    <ion-button (click)="toLists()" fill="outline">{{t('buttons.back')}}</ion-button>
                    <ion-button (click)="toSettings()">{{t('buttons.next')}}</ion-button>
                </div>
            </ion-segment-content>
            <ion-segment-content id="settings">
                <div class="content">
                    <ion-icon class="content-icon" src="/assets/icons/menu/settings.svg"></ion-icon>

                    <div class="text first">{{t('page_settings_export.settings')}}</div>
                    <div class="bottom">
                        <ion-toggle labelPlacement="start" [ngClass]="{'disabled': !ExportSettings}" [checked]="ExportSettings" (ionChange)="toggleSettings($event.target.checked)"> {{t('page_settings_export.settings_toggle')}} </ion-toggle>
                    </div>
                </div>
                <div class="buttons multiple">
                    <ion-button (click)="toTrash()" fill="outline">{{t('buttons.back')}}</ion-button>
                    <ion-button (click)="toFinish()">{{t('buttons.next')}}</ion-button>
                </div>
            </ion-segment-content>
            <ion-segment-content id="finish">
                <div class="content">
                    <ion-icon class="content-icon" src="/assets/icons/store.svg"></ion-icon>

                    @if (SomethingEnabled) {
                    <div class="text first">{{t('page_settings_export.export_summary')}}</div>
                    <div>
                        <ion-card class="export-list">
                            <ion-list>
                                @for (item of ExportItems; track item.key) {
                                <ion-item lines="full" [ngClass]="['export-item', item.status]">
                                    <ion-icon slot="start" [src]="item.icon"></ion-icon>
                                    <ion-label>
                                        <ion-text class="export-item-title">{{t(item.locale)}}</ion-text>
                                        <ion-progress-bar [value]="item.done"></ion-progress-bar>
                                    </ion-label>
                                </ion-item>
                                }
                            </ion-list>
                        </ion-card>

                        <ion-buttons>
                            @if (ExportRunning) {
                            <ion-button (click)="stopExport()" color="secondary" fill="outline"> {{t('buttons.cancel')}} </ion-button>
                            }
                        </ion-buttons>
                    </div>
                    } @else {
                    <div class="text margin">{{t('page_settings_export.export_summary_nothing')}}</div>
                    }
                </div>
                <div class="buttons left">
                    <ion-button (click)="toSettings()" fill="outline">{{t('buttons.back')}}</ion-button>
                    <ion-button (click)="exportToZip()" color="secondary" [disabled]="ExportRunning || !SomethingEnabled"> {{t('page_settings_export.export_to_zip')}} </ion-button>
                </div>
            </ion-segment-content>
        </ion-segment-view>
        <div class="fixed-bottom">
            <ion-segment value="lists">
                <ion-segment-button value="lists" content-id="lists" #segbtnLists>
                    <ion-icon src="/assets/icons/menu/lists.svg"></ion-icon>
                </ion-segment-button>
                <ion-segment-button value="trash" content-id="trash" #segbtnTrash>
                    <ion-icon src="/assets/icons/menu/trash.svg"></ion-icon>
                </ion-segment-button>
                <ion-segment-button value="settings" content-id="settings" #segbtnSettings>
                    <ion-icon src="/assets/icons/menu/settings.svg"></ion-icon>
                </ion-segment-button>
                <ion-segment-button value="finish" content-id="finish" #segbtnFinish>
                    <ion-icon src="/assets/icons/store.svg"></ion-icon>
                </ion-segment-button>
            </ion-segment>
        </div>
    </div>
    } @else {
    <div class="container done">
        <div class="content">
            <ion-icon src="/assets/icons/done.svg"></ion-icon>
            <div class="text" [innerHTML]="t('page_settings_export.export_success')"></div>
            <div class="text" [innerHTML]="t('page_settings_export.export_success_share')"></div>
        </div>
        <ion-buttons class="fixed-bottom buttons multiple">
            <ion-button fill="outline" color="secondary" (click)="cancel()">{{t('buttons.done') }}</ion-button>
            <ion-button fill="solid" color="secondary" (click)="Share()">{{ t('buttons.share') }}</ion-button>
        </ion-buttons>
    </div>
    }
</ion-content>
