<ion-header *transloco="let t">
    <ion-toolbar>
        <ion-title>{{ t("comp-sharelog.title") }}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="cancel()" [ariaLabel]="t('buttons.cancel')">
                <ion-icon src="./assets/icons/close.svg" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<div class="inner-content ion-padding ion-text-center" *transloco="let t">
    <div [innerHTML]="t('comp-sharelog.text', { filename: Params.file.Filename })"></div>
    @if(!IsWebApp) {
    <div>
        <ion-select value="store" interface="popover" fill="outline" [value]="Params.do ?? 'email'" #do>
            <ion-select-option value="store">{{ t("comp-sharelog.store") }}</ion-select-option>
            <ion-select-option value="share">{{ t("comp-sharelog.share") }}</ion-select-option>
            <ion-select-option value="email">{{ t("comp-sharelog.email") }}</ion-select-option>
        </ion-select>
        <ion-accordion-group (ionChange)="accordionGroupChange($event)">
            <ion-accordion toggleIcon="none">
                <div slot="header">
                    <ion-item lines="none">
                        <ion-checkbox #attachMeta>
                            {{ t("comp-sharelog.meta") }}
                        </ion-checkbox>
                    </ion-item>
                </div>
                <ion-list slot="content">
                    <ion-item lines="none">
                        <div>
                            <ion-checkbox labelPlacement="end" justify="start" checked="true" #attachMetaDevice>{{ t("comp-sharelog.meta_device") }}</ion-checkbox>
                            <div class="meta_note">
                                <ion-note [innerHTML]="t('comp-sharelog.meta_device_note')"></ion-note>
                            </div>
                        </div>
                    </ion-item>
                    <ion-item lines="none">
                        <div>
                            <ion-checkbox labelPlacement="end" justify="start" checked="true" #attachMetaSettings>{{ t("comp-sharelog.meta_settings") }}</ion-checkbox>
                            <div class="meta_note">
                                <ion-note [innerHTML]="t('comp-sharelog.meta_settings_note')"></ion-note>
                            </div>
                        </div>
                    </ion-item>
                    <ion-item lines="none">
                        <div>
                            <ion-checkbox labelPlacement="end" justify="start" checked="true" #attachMetaStorage>{{ t("comp-sharelog.meta_storage") }}</ion-checkbox>
                            <div class="meta_note">
                                <ion-note [innerHTML]="t('comp-sharelog.meta_storage_note')"></ion-note>
                            </div>
                        </div>
                    </ion-item>
                    @if(ConnectIQInitialized) {
                    <ion-item lines="none">
                        <div>
                            <ion-checkbox labelPlacement="end" justify="start" checked="true" #attachMetaGarmin>{{ t("comp-sharelog.meta_garmin") }}</ion-checkbox>
                            <div class="meta_note">
                                <ion-note [innerHTML]="t('comp-sharelog.meta_garmin_note')"></ion-note>
                            </div>
                        </div>
                    </ion-item>
                    }
                </ion-list>
            </ion-accordion>
        </ion-accordion-group>
        @if(ConnectIQInitialized) {
        <ion-item lines="none" class="attach-watchlog">
            <ion-checkbox [checked]="Params.watch_logs_included === true" [disabled]="Params.watch_logs_included === true" #attachWatchLogs>
                {{ t("comp-sharelog.watch") }}
            </ion-checkbox>
        </ion-item>
        }
    </div>
    }
</div>
<div class="button" *transloco="let t">
    <ion-button (click)="storeFile()">{{ t("buttons.save") }}</ion-button>
</div>
