ion-toast.toast {
    --border-radius: 1em;
    --padding: 8px, 20px, 8px, 16px;
    --border-width: 1px;
    --border-style: solid;
    box-shadow: 0 4px 16px rgba(var(--color-shadow-rgb), 0.4);

    &::part(button) {
        font-weight: bold;
        color: var(--color);
        border-left: 1px solid var(--border-color);
    }

    &.error {
        --background: var(--ion-color-danger-tint);
        --color: var(--ion-color-danger);
        --border-color: var(--ion-color-danger-shade);
    }

    &.success {
        --background: var(--ion-color-success-tint);
        --color: var(--ion-color-success);
        --border-color: var(--ion-color-success-shade);
    }

    &.notice {
        --background: var(--color-notice-tint);
        --color: var(--color-notice);
        --border-color: var(--color-notice-shade);
    }
}

ion-loading.loading-overlay {
    --backdrop-opacity: 0.8;
    --min-height: 100px;
    --min-width: 80%;
}

ion-modal.autosize-modal {
    --height: auto;
    backdrop-filter: blur(6px);

    &.bottom {
        align-items: flex-end;
    }

    &::part(content) {
        max-width: 90%;
        max-height: 100%;
        box-shadow: 0 0 24px rgba(var(--color-shadow-rgb), 0.6);
    }

    &::part(backdrop) {
        background-color: var(--color-backdrop);
        --backdrop-opacity: 0.35;
    }

    .ion-page {
        position: relative;
        display: block;
        contain: content;

        .inner-content {
            max-height: 80vh;
            overflow: auto;
            padding: 10px;
        }
    }
}

ion-modal.bottom-modal {
    align-items: flex-end;
    --height: auto;
}

ion-alert.alert {
    --ion-text-color: var(--ion-color-dark);
    --max-width: 80vw;
    --max-height: 80%;

    &.info {
        .alert-message {
            font-size: 1.3em;
            font-style: italic;
        }
    }

    .alert-radio-label {
        color: var(--ion-color-dark) !important;
    }

    .alert-message {
        color: var(--ion-color-dark) !important;
    }

    button.alert-button {
        color: var(--ion-color-primary) !important;
    }

    .alert-checkbox-group {
        border: 0;

        .alert-checkbox-label {
            padding-inline-start: 40px;
        }
    }
}

ion-datetime {
    --background: var(--ion-background-color);
    --wheel-highlight-background: var(--background);
    color: var(--ion-color-dark);

    &::part(calendar-day) {
        color: var(--ion-color-dark);
    }

    &::part(month-year-button) {
        color: var(--ion-color-dark);
    }

    &::part(days-of-week) {
        color: var(--ion-color-dark);
    }

    &::part(calender-next-prev-button) {
        color: var(--ion-color-dark);
    }

    &::part(header) {
        background: var(--ion-color-primary);
    }

    &::part(calendar-day active) {
        background: var(--ion-color-secondary);
        border-color: var(--ion-color-secondary);
        color: var(--ion-color-dark-contrast);

        &:focus {
            box-shadow: none;
        }
    }

    &::part(calendar-day today) {
        border-color: var(--ion-color-secondary);
    }

    &::part(picker) {
        --ion-color-base: var(--ion-color-primary);
        --ion-background-color-rgb: var(--ion-color-light-tint-rgb);
        background: var(--ion-color-light);
    }

    ion-buttons {
        ion-button.button:not(.button-solid) {
            --color: var(--ion-color-dark) !important;
            --ion-color-base: var(--color) !important;
        }
    }
}

/** ion-select with action sheet as interface */
.select-action-sheet .action-sheet-container {
    max-height: calc(80dvh - (var(--ion-safe-area-top, 0) + var(--ion-safe-area-bottom, 0)));
    box-shadow: 0px -50px 50px 0px rgba(var(--color-shadow-rgb), 0.06);
    --color: var(--ion-color-dark-tint);
    --background: var(--ion-color-light);
    --button-color: var(--color);
    --button-color-hover: var(--ion-color-dark);
    --button-color-selected: var(--text-color);

    .action-sheet-title {
        border-bottom: solid 2px var(--ion-color-light-shade);
    }

    .action-sheet-selected {
        background: var(--ion-color-light-shade);
    }

    .action-sheet-cancel {
        border-top: solid 1px var(--ion-color-light-shade);
        background: var(--ion-color-dark-contrast);
    }
}

@media (prefers-color-scheme: dark) {
    ion-datetime {
        &::part(calendar-day active) {
            color: var(--ion-color-dark);
        }
    }

    ion-alert {
        button.alert-button {
            color: var(--ion-color-primary-tint) !important;
        }
    }
}
