@use "src/theme/content/settings/settings-page.scss";

ion-list {
    ion-item {
        &.no-margin {
            margin-top: 0px;
        }

        &.logs {
            &::part(native) {
                flex-direction: column;
                gap: 1em;
            }

            > div {
                width: 100%;
            }

            .delete {
                display: flex;
                justify-content: end;
                margin-top: 1em;
            }

            .info {
                font-size: 0.9em;
                color: var(--ion-color-medium);
                white-space: pre-line;
                width: 100%;
            }
        }

        .buttons {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
        }
    }

    .request-messages {
        max-width: 55px;
        margin-inline: 10px;
    }
}
