:host {
    ion-item {
        &.activate {
            margin-block: 0;
            padding-block: 0;
            font-size: 1.3em;

            .centered-toggle-wrapper {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .centered-toggle {
                width: max-content;
            }
        }

        &.texts,
        &.supports {
            &::part(native) {
                flex-direction: column;
            }

            .text {
                font-size: 1.2em;
                margin-top: 1em;
                text-align: center;

                &.listago {
                    font-weight: bold;
                    font-size: 1.4em;
                }
            }

            .support {
                &:first-of-type {
                    margin-top: 1em;
                }
                font-size: 1.2em;
                text-align: center;
            }

            img {
                padding-block: 1.5em;

                &.paypal {
                    max-width: 200px;
                }
            }
        }

        &.thanks {
            .thank {
                width: 100%;
                text-align: center;
                font-size: 1.6em;
                font-weight: bold;
                margin-block: 1em;
            }
        }
    }
}

@media (prefers-color-scheme: dark) {
    ion-item {
        &.supports {
            img.paypal {
                background-color: #fff;
                padding: 1em;
                border-radius: 0.5em;
                margin-block: 1.5em;
            }
        }
    }
}
