<app-main-toolbar back="/settings">{{'page_lists_transmission.page_title'|translate}}</app-main-toolbar>
<ion-content #content>
    <ion-list>
        <!-- garmin connect iq support -->
        <ion-item lines="full">
            <ion-label (click)="onSupportGarminConnectIQChanged(!SupportGarminConnectIQ)">
                <div class="text" [innerHTML]="'page_lists_transmission.garminconnectiq'|translate"></div>
                <ion-note [innerHTML]="'page_lists_transmission.garminconnectiq_note'|translate"></ion-note>
            </ion-label>
            <ion-toggle [checked]="SupportGarminConnectIQ" (ionChange)="onSupportGarminConnectIQChanged($event.target.checked)" slot="end"></ion-toggle>
        </ion-item>

        <!-- open app on transmitting list -->
        <ion-item lines="full" [disabled]="!SupportGarminConnectIQ">
            <ion-label (click)="onOpenAppOnTransmitChanged(!OpenAppOnTransmit)">
                <div class="text" [innerHTML]="'page_lists_transmission.openontransmit'|translate"></div>
                <ion-note [innerHTML]="'page_lists_transmission.openontransmit_note'|translate"></ion-note>
            </ion-label>
            <ion-toggle [checked]="OpenAppOnTransmit" (ionChange)="onOpenAppOnTransmitChanged($event.target.checked)" slot="end"> </ion-toggle>
        </ion-item>

        <!-- delete list on device when deleting on phone -->
        <ion-item lines="full" [disabled]="!SupportGarminConnectIQ">
            <ion-label (click)="onDeleteListOnDeviceChanged(!DeleteListOnDevice)">
                <div class="text" [innerHTML]="'page_lists_transmission.deletelist'|translate"></div>
                <ion-note [innerHTML]="'page_lists_transmission.deletelist_note'|translate"></ion-note>
            </ion-label>
            <ion-toggle [checked]="DeleteListOnDevice" (ionChange)="onDeleteListOnDeviceChanged($event.target.checked)" slot="end"> </ion-toggle>
        </ion-item>

        <!-- synchronize lists -->
        <ion-item lines="full" [disabled]="!SupportGarminConnectIQ" #syncList>
            <ion-label (click)="onSyncListOnDeviceChanged(!SyncListOnDevice)">
                <div class="text" [innerHTML]="'page_lists_transmission.synclist'|translate"></div>
                <ion-note [innerHTML]="'page_lists_transmission.synclist_note'|translate"></ion-note><br />
                <ion-note [innerHTML]="'page_lists_transmission.synclist_warning'|translate"></ion-note>
            </ion-label>
            <ion-toggle [checked]="SyncListOnDevice" (ionChange)="onSyncListOnDeviceChanged($event.target.checked)" slot="end"> </ion-toggle>
        </ion-item>
    </ion-list>
</ion-content>
