<app-main-toolbar back="/settings" *transloco="let t">{{t('page_settings_confirm.page_title')}}</app-main-toolbar>

<ion-content *transloco="let t">
    <ion-list>
        <!-- transmit list-->
        @if (ConnectIQInitialized) {
        <ion-item lines="full">
            <ion-label (click)="onTransmitListChanged(!TransmitList)">
                <div class="text" [innerHTML]="t('page_settings_confirm.transmit_list')"></div>
                <ion-note [innerHTML]="t('page_settings_confirm.transmit_list_note')"></ion-note>
            </ion-label>
            <ion-toggle [checked]="TransmitList" (ionChange)="onTransmitListChanged($event.target.checked)" slot="end"></ion-toggle>
        </ion-item>
        }
        <!-- delete list -->
        <ion-item lines="full">
            <ion-label (click)="onDeleteListChanged(!DeleteList)">
                <div class="text" [innerHTML]="t('page_settings_confirm.delete_list')"></div>
                <ion-note [innerHTML]="t('page_settings_confirm.delete_list_note')"></ion-note>
            </ion-label>
            <ion-toggle [checked]="DeleteList" (ionChange)="onDeleteListChanged($event.target.checked)" slot="end"> </ion-toggle>
        </ion-item>
        <!-- delete listitem -->
        <ion-item lines="full">
            <ion-label (click)="onDeleteListItemChanged(!DeleteListitem)">
                <div class="text" [innerHTML]="t('page_settings_confirm.delete_listitem')"></div>
                <ion-note [innerHTML]="t('page_settings_confirm.delete_listitem_note')"></ion-note>
            </ion-label>
            <ion-toggle [checked]="DeleteListitem" (ionChange)="onDeleteListItemChanged($event.target.checked)" slot="end"> </ion-toggle>
        </ion-item>
        <!-- empty list -->
        <ion-item lines="full">
            <ion-label (click)="onEmptyListChanged(!EmptyList)">
                <div class="text" [innerHTML]="t('page_settings_confirm.empty_list')"></div>
                <ion-note [innerHTML]="t('page_settings_confirm.empty_list_note')"></ion-note>
            </ion-label>
            <ion-toggle [checked]="EmptyList" (ionChange)="onEmptyListChanged($event.target.checked)" slot="end"> </ion-toggle>
        </ion-item>
        <!-- erase list from trash -->
        <ion-item lines="full">
            <ion-label (click)="onEraseListChanged(!EraseList)">
                <div class="text" [innerHTML]="t('page_settings_confirm.erase_list')"></div>
                <ion-note [innerHTML]="(t('page_settings_confirm.erase_list_note') + t('page_settings_confirm.undo_warning'))"></ion-note>
            </ion-label>
            <ion-toggle [checked]="EraseList" (ionChange)="onEraseListChanged($event.target.checked)" slot="end"> </ion-toggle>
        </ion-item>
        <!-- erase listitem from trash -->
        <ion-item lines="full">
            <ion-label (click)="onEraseListitemChanged(!EraseListitem)">
                <div class="text" [innerHTML]="t('page_settings_confirm.erase_listitem')"></div>
                <ion-note [innerHTML]="(t('page_settings_confirm.erase_listitem_note') + t('page_settings_confirm.undo_warning'))"></ion-note>
            </ion-label>
            <ion-toggle [checked]="EraseListitem" (ionChange)="onEraseListitemChanged($event.target.checked)" slot="end"> </ion-toggle>
        </ion-item>
        <!-- restore list from trash -->
        <ion-item lines="full">
            <ion-label (click)="onRestoreListChanged(!RestoreList)">
                <div class="text" [innerHTML]="t('page_settings_confirm.restore_list')"></div>
                <ion-note [innerHTML]="t('page_settings_confirm.restore_list_note')"></ion-note>
            </ion-label>
            <ion-toggle [checked]="RestoreList" (ionChange)="onRestoreListChanged($event.target.checked)" slot="end"> </ion-toggle>
        </ion-item>
        <!-- restore listitem from trash -->
        <ion-item lines="full">
            <ion-label (click)="onRestoreListitemChanged(!RestoreListitem)">
                <div class="text" [innerHTML]="t('page_settings_confirm.restore_listitem')"></div>
                <ion-note [innerHTML]="t('page_settings_confirm.restore_listitem_note')"></ion-note>
            </ion-label>
            <ion-toggle [checked]="RestoreListitem" (ionChange)="onRestoreListitemChanged($event.target.checked)" slot="end"> </ion-toggle>
        </ion-item>
        <!-- empty trash -->
        <ion-item lines="full">
            <ion-label (click)="onEmptyTrashChanged(!EmptyTrash)">
                <div class="text" [innerHTML]="t('page_settings_confirm.empty_trash')"></div>
                <ion-note [innerHTML]="(t('page_settings_confirm.empty_trash_note') + t('page_settings_confirm.undo_warning'))"></ion-note>
            </ion-label>
            <ion-toggle [checked]="EmptyTrash" (ionChange)="onEmptyTrashChanged($event.target.checked)" slot="end"> </ion-toggle>
        </ion-item>
    </ion-list>
</ion-content>
