<app-main-toolbar back="/settings" *transloco="let t">{{t('page_settings_trash.page_title')}}</app-main-toolbar>

<ion-content *transloco="let t">
    <ion-list>
        <ion-item lines="full">
            <ion-label (click)="onUseTrashChanged(!UseTrash)">
                <div class="text" [innerHTML]="t('page_settings_trash.use_trash')"></div>
                <ion-note [innerHTML]="t('page_settings_trash.use_trash_note')"></ion-note>
            </ion-label>
            <ion-toggle [checked]="UseTrash" (ionChange)="onUseTrashChanged($event.target.checked)" slot="end"> </ion-toggle>
        </ion-item>
        <ion-item lines="full">
            <ion-label (click)="onUseTrashListitemsChanged(!UseTrashListitems)">
                <div class="text" [innerHTML]="t('page_settings_trash.use_trash_listitem')"></div>
                <ion-note [innerHTML]="t('page_settings_trash.use_trash_listitem_note')"></ion-note>
            </ion-label>
            <ion-toggle [checked]="UseTrashListitems" (ionChange)="onUseTrashListitemsChanged($event.target.checked)" slot="end"> </ion-toggle>
        </ion-item>
        <ion-item lines="full">
            <div class="fullwidth">
                <ion-select [label]="t('page_settings_trash.instock')" label-placement="stacked" [okText]="t('buttons.change')" [value]="KeepInStock" [cancelText]="t('buttons.cancel')" (ionChange)="onInStockChanged($event.detail.value)">
                    <ion-select-option [value]="GetKeepInStock('day')" (selected)="KeepInStock == GetKeepInStock('day')">{{t('page_settings_trash.instock_oneday')}}</ion-select-option>
                    <ion-select-option [value]="GetKeepInStock('week')" (selected)="KeepInStock == GetKeepInStock('week')">{{t('page_settings_trash.instock_oneweek')}}</ion-select-option>
                    <ion-select-option [value]="GetKeepInStock('month')" (selected)="KeepInStock == GetKeepInStock('month')">{{t('page_settings_trash.instock_onemonth')}}</ion-select-option>
                    <ion-select-option [value]="GetKeepInStock('entries')" (selected)="KeepInStock == GetKeepInStock('entries')">{{t('page_settings_trash.instock_hundredentries')}}</ion-select-option>
                </ion-select>
                <ion-note [innerHTML]="t('page_settings_trash.instock_note')"></ion-note>
            </div>
        </ion-item>
    </ion-list>
</ion-content>
