@use "src/theme/content/im-export/import.scss";

:host {
    ion-content.page {
        --background: var(--color-skyblue);
        --padding-top: calc(var(--ion-safe-area-top) + 5%);
        --padding-bottom: 5%;
        --padding-start: 5%;
        --padding-end: 5%;

        .container {
            background: var(--ion-background-color);
            width: 100%;
            height: 100%;
            max-width: 500px;
            margin: 0 auto;
            border-radius: 5vw;
            box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.15);
            display: flex;
            flex-direction: column;
            overflow-y: scroll;
            padding: 1em 0.5em;

            &:not(.done-report) {
                .content {
                    flex-grow: 1;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    gap: 2em;

                    .select-archive {
                        ion-button {
                            min-height: 68px;
                            width: 70%;
                            max-width: 240px;
                            margin-inline: auto;
                        }

                        .text {
                            font-size: 1.1em;
                            margin-bottom: 1em;

                            &.error {
                                width: 90%;
                                margin: 2em auto;
                                padding: 0.5em;
                                border-radius: 0.5em;
                                background: var(--ion-color-danger-tint);
                                color: var(--ion-color-danger);
                                border: solid 1px var(--ion-color-danger-shade);
                            }
                        }
                    }

                    ion-icon {
                        &.icon {
                            width: 40%;
                            max-width: 200px;
                            height: auto;
                            aspect-ratio: 1/1;
                            margin: 5% auto;
                            fill: var(--ion-color-medium);
                        }
                    }

                    ion-list {
                        ion-item {
                            position: relative;
                            --import-item-color: var(--ion-text-color);
                            --import-item-color-tint: var(--color-text-tint);
                            --color: var(--import-item-color);
                            --background: transparent;

                            &.success {
                                --import-item-color: var(--ion-color-success);
                                --import-item-color-tint: var(--ion-color-success-tint);
                            }

                            &.disabled {
                                --import-item-color: var(--ion-color-medium-tint);
                                --import-item-color-tint: var(--ion-color-medium-tint);
                            }

                            &.failed {
                                --import-item-color: var(--ion-color-danger);
                                --import-item-color-tint: var(--ion-color-danger-shade);
                            }

                            &.running {
                                --import-item-color: var(--ion-color-secondary);
                                --import-item-color-tint: var(--ion-color-secondary-tint);
                            }

                            &.success,
                            &.failed {
                                ion-text {
                                    font-weight: bold;
                                }
                            }

                            ion-icon {
                                fill: var(--import-item-color);
                                margin-inline-end: 0.5em;
                                --inner-padding-top: 6px;
                            }

                            ion-progress-bar {
                                --background: var(--import-item-color-tint);
                                --progress-background: var(--import-item-color);
                            }

                            &.disabled,
                            &.enabled {
                                ion-label {
                                    margin-bottom: 6px;
                                }

                                ion-progress-bar {
                                    visibility: hidden;
                                }
                            }

                            ion-label {
                                margin-top: 6px;
                            }

                            [slot="start"] {
                                margin-inline-end: 0.5em;
                            }

                            [slot="end"] {
                                position: relative;
                                margin-inline-end: 1em;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1160px) {
    :host {
        ion-content.page {
            --padding-top: 2%;
            --padding-bottom: 2%;
            --padding-start: 2%;
            --padding-end: 2%;
        }
    }
}

@media (max-height: 480px) {
    :host {
        font-size: 0.7em;

        ion-content.page {
            --padding-top: 2%;
            --padding-bottom: 2%;
            --padding-start: 2%;
            --padding-end: 2%;

            .container {
                ion-segment-view {
                    ion-segment-content {
                        &#garmin {
                            ion-img {
                                &.app-logo {
                                    height: 15vh;
                                }
                                &.garmin-icon {
                                    height: 15vh;
                                }
                            }
                        }

                        &#garmin-hint {
                            .garmin-hint-icon {
                                height: 10vh;
                            }
                        }
                    }
                }
            }
        }
    }
}
