<app-main-toolbar back="{{BackLink}}" [displayCustomMenu]="true" [displayMenu]="false">
    {{PageTitle}}
    <app-main-toolbar-lists-custom-menu [(EditMode)]="EditMode" [EditMenuDisabled]="!TrashItems?.length" [EditModeMenuDisabled]="EditMenuDisabled()" [EditMenuActions]="getEditMenuActions()" slot="customMenu"></app-main-toolbar-lists-custom-menu>
</app-main-toolbar>

<ion-content fixed-slot-placement="before" scrollEvents="true" scrollX="false" overflow-scroll="false" (ionScroll)="onScroll($event)" #mainContent *transloco="let t">
    @if(TrashItems?.length) {
    <div class="list-content" #listContent>
        <ion-list id="animated-list" #itemsList>
            @for (item of TrashItems; track item.Id) {
            <ion-item-sliding [disabled]="EditMode || !InitialAnimationDone">
                <ion-item lines="none" [button]="true" (click)="clickOnItem($event, item)" [ngClass]="{'selected-item': EditMode && isItemSelected(item)}">
                    <ion-label class="animated-item" [ngClass]="{'pre-animation-state': !InitialAnimationDone}">
                        <div class="details" [ngClass]="{'hidden': item.Hidden}">
                            <div class="listpoint-indicator-wrapper" slot="start">
                                <div class="listpoint-indicator"></div>
                            </div>
                            <div class="text">
                                <div class="item">{{item.Item}}</div>
                                @if (item.Note) {
                                <div color="medium" class="note">{{item.Note}}</div>
                                }
                            </div>
                        </div>
                    </ion-label>
                    <div class="editmode small" [ngClass]="{'show': EditMode}">
                        <ion-checkbox checked="true" [checked]="isItemSelected(item)" (click)="$event.preventDefault()"></ion-checkbox>
                    </div>
                </ion-item>
                <ion-item-options side="start" (ionSwipe)="onSwipeRight(item)">
                    <ion-item-option color="danger" expandable="true" (click)="deleteItems(item)">
                        <ion-icon slot="start" src="./assets/icons/trash_solid.svg"></ion-icon>
                        {{t('page_trashitem.erase')}}
                    </ion-item-option>
                </ion-item-options>
                <ion-item-options side="end" (ionSwipe)="onSwipeLeft(item)">
                    <ion-item-option color="secondary" expandable="true" (click)="restoreItems(item)">
                        <ion-icon slot="end" src="./assets/icons/undo.svg"></ion-icon>
                        {{t('page_trashitem.restore')}}
                    </ion-item-option>
                </ion-item-options>
            </ion-item-sliding>
            }
        </ion-list>
    </div>
    @if (ShowScrollButtons) {
    <ion-fab slot="fixed" vertical="bottom" horizontal="start">
        <ion-fab-button (click)="ScrollToTop()" [disabled]="DisableScrollToTop">
            <ion-icon src="./assets/icons/to-top.svg"></ion-icon>
        </ion-fab-button>
        <ion-fab-button (click)="ScrollToBottom(false)" [disabled]="DisableScrollToBottom">
            <ion-icon src="./assets/icons/to-top.svg" class="to-bottom"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    } } @else if (ItemsInitialized && TrashItems && TrashItems.length <= 0) {
    <app-page-empty>
        <div slot="image">
            <ion-icon src="./assets/icons/menu/trash_items.svg"></ion-icon>
        </div>
        <div slot="text">
            <ion-text>{{t('page_trashitem.empty')}}</ion-text>
        </div>
    </app-page-empty>
    } @else if (!ItemsInitialized) {
    <app-page-empty>
        <div slot="image">
            <ion-icon src="./assets/icons/hourglass.svg"></ion-icon>
        </div>
        <div slot="text">
            <div [innerHTML]="t('page_trashitem.loading')"></div>
        </div>
    </app-page-empty>
    } @else {
    <app-page-empty>
        <div slot="image">
            <ion-icon src="./assets/icons/nolist.svg"></ion-icon>
        </div>
        <div slot="text">
            <div [innerHTML]="t('page_trashitem.error')"></div>
        </div>
    </app-page-empty>
    }
</ion-content>
