<app-main-toolbar back="/lists" *transloco="let t">{{t('page_policy.page_title')}}</app-main-toolbar>

<ion-content class="privacy-policy" *transloco="let t">
    <div class="select-language">
        <ion-select interface="action-sheet" justify="end" [okText]="t('buttons.change')" [cancelText]="t('buttons.cancel')" [value]="this.SelectedCulture" (ionChange)="onSelectLanguage($event.target.value)">
            @if (SelectedCulture) {
            <ion-img slot="start" [src]="this.SelectedCulture.Icon"></ion-img>
            } @for (lang of Languages; track lang.locale) {
            <ion-select-option [value]="lang">{{lang.LocalizedString}}</ion-select-option>
            }
        </ion-select>
    </div>
    <div class="policy" id="policy-container"></div>
</ion-content>
